* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100vh;
    min-width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
}

#parser-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 70vw;
}

h1 {
    margin-bottom: 20px;
}

.input-container {
    position: relative;
    width: 100%;
    height: 100%;
}

input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 100%;
}



.suggestions {
    position: absolute;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    max-height: 0;
    overflow-y: auto;
    transition: max-height 0.3s ease;
    z-index: 1;
    max-width: 100%;
}

.suggestions.open {
    max-height: 200px;
}

.suggestion {
    padding: 10px;
    cursor: pointer;
}

.suggestion:hover {
    background-color: #f5f5f5;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin-top: 20px; 
}

button:hover {
    background-color: #0056b3;
}
